//

.c-topBanner {
  background-color: #f8f9fa;
  position: relative;
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  // background: url("/assets/images/3.jpg") bottom no-repeat;
  // background-size: cover;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   display: block;
  //   top: 20%;
  //   left: 100%;
  //   width: 110%;
  //   height: 100%;
  //   background-size: 12px 12px;
  //   background-position: center;
  //   transform: translate(-50%, -50%);
  //   background-image: radial-gradient(rgba(0, 0, 0, 0.2) 14%, transparent 14%);
  //   -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 75%);
  //   mask-image: radial-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 75%);
  //   z-index: 0;
  // }

  .hero-content {
    position: relative;
    z-index: 2;
    @include breakpoint(max-xl) {
      padding-bottom: 0;
    }

    h1 {
      font-size: 3rem;
      font-weight: 600;
      line-height: 3.2rem;
      margin-bottom: 24px;

      @include breakpoint(max-xxl) {
        font-size: 3rem;
      }

      @include breakpoint(max-xl) {
        font-size: 2rem;
        line-height: 2.8rem;
      }
    }
  }

  &::after {
    background-color: #ecedf2;
    position: absolute;
    height: calc(100% - 120px);
    width: 80%;
    top: 60px;
    left: 0;
    content: "";
    z-index: 0;
    @include rounded-corners(0 60px 60px 0);
  }
}

.searchContainer {
  background-color: $white;
  border: 1px solid #ecedf2;
  margin: 24px auto;
  padding: 8px 0;
  width: 100%;
  @include box-shadow(0 7px 18px rgba(64, 79, 104, 0.05));
  @include rounded-corners(10px);

  & > div:not(:last-child) {
    position: relative;
    &::after {
      position: absolute;
      top: 10%;
      right: 0;
      height: 80%;
      content: "";
      width: 1px;
      background-color: $border-color;
    }
  }

  .selectInSearch {
    position: relative;

    &.ant-select {
      width: 100%;
      .ant-select-selector {
        padding: 0;
      }
      .ant-select-prefix {
        .g-icon {
          color: $font-color-light;
          font-size: 2rem;
        }
      }
      .ant-select-selection-item {
        font: 500 0.95rem/1rem $primary-font;
      }
      .ant-select-selection-placeholder {
        color: $font-color-light;
        font: 500 0.95rem/1rem $primary-font;
      }
    }
  }

  .searchInput {
    background-color: transparent;
    border: 0;
    padding: 0;
    @include box-shadow(none);

    .ant-input {
      font: 500 0.95rem/1rem $primary-font;
      &::placeholder {
        color: $font-color-light;
      }
    }

    .ant-input-prefix {
      .g-icon {
        color: $font-color-light;
        font-size: 1.8rem;
      }
    }
  }
}
@media (max-width: 920px) {
  .c-topBanner {
    min-height: auto;
    .hero-content {
      padding: 20px 0;
    }
  }
  .searchContainer {
    .searchInput {
      background-color: $white;
      border: 1px solid $border-color;
      margin-bottom: 24px;
      .ant-input {
        font-size: 1.1rem;
        line-height: 1.4rem;
      }
      .ant-input-prefix {
        padding: 12px;
        .g-icon {
          font-size: 1.4rem;
        }
      }
    }

    .selectInSearch {
      margin-bottom: 24px;
      &.ant-select {
        background-color: $white;
        border: 1px solid $border-color;
        height: auto;
        @include rounded-corners(8px);
        .ant-select-selector {
          padding: 8px;
        }
        .ant-select-selection-item {
          text-align: left;
        }
        .ant-select-selection-placeholder {
          text-align: left;
        }
      }
    }
  }
}

.bannerImage {
  position: relative;
  z-index: 2;
  height: 100%;
  min-height: 400px;
  min-width: 400px;
  img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
    right: -20px;
  }

  .content-1,
  .content-2 {
    position: absolute;
    top: 40px;
    left: -40px;
    width: 200px;
    z-index: 2;
  }
  .content-2 {
    top: auto;
    bottom: 40px;
    left: auto;
    right: -40px;
  }
}
