//

.c-topBanner {
  background-color: #f8f9fa;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/assets/images/3.jpg") bottom no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 20%;
    left: 100%;
    width: 110%;
    height: 100%;
    background-size: 12px 12px;
    background-position: center;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(rgba(0, 0, 0, 0.2) 14%, transparent 14%);
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 75%);
    mask-image: radial-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 75%);
    z-index: 0;
  }

  .hero-content {
    @include breakpoint(max-xl) {
      padding-bottom: 0;
    }

    h1 {
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 3.2rem;
      margin-bottom: 24px;

      @include breakpoint(max-xxl) {
        font-size: 3rem;
      }

      @include breakpoint(max-xl) {
        font-size: 2rem;
        line-height: 2.8rem;
      }
    }
  }
}

.searchContainer {
  margin: 24px auto;
  padding: 18px 0;
  width: 100%;
  @include rounded-corners(10px);

  & > div:not(:last-child) {
    position: relative;
    &::after {
      position: absolute;
      top: calc(50% - 10px);
      right: 0;
      height: 20px;
      content: "";
      width: 2px;
      background-color: $secondary-color;
    }
  }

  .selectInSearch {
    position: relative;

    &.ant-select {
      width: 100%;
      .ant-select-selection-item {
        font: 400 1.1rem/1.2rem $primary-font;
      }
      .ant-select-selection-placeholder {
        font: 500 1rem/1.1rem $primary-font;
      }
    }
  }

  .searchInput {
    background-color: transparent;
    border: 0;
    padding: 0;
    @include box-shadow(none);

    .ant-input {
      font: 400 1.1rem/1.2rem $primary-font;
      &::placeholder {
        color: $font-color-light;
      }
    }

    .ant-input-prefix {
      padding: 0 4px;
      .g-icon {
        color: $secondary-color;
        font-size: 2rem;
      }
    }
  }
}
@media (max-width: 920px) {
  .c-topBanner {
    min-height: auto;
    .hero-content {
      padding: 20px 0;
    }
  }
  .searchContainer {
    .searchInput {
      background-color: $white;
      border: 1px solid $border-color;
      margin-bottom: 24px;
      .ant-input {
        font-size: 1.1rem;
        line-height: 1.4rem;
      }
      .ant-input-prefix {
        padding: 12px;
        .g-icon {
          font-size: 1.4rem;
        }
      }
    }

    .selectInSearch {
      margin-bottom: 24px;
      &.ant-select {
        background-color: $white;
        border: 1px solid $border-color;
        height: auto;
        @include rounded-corners(8px);
        .ant-select-selector {
          padding: 8px;
        }
        .ant-select-selection-item {
          text-align: left;
        }
        .ant-select-selection-placeholder {
          text-align: left;
        }
      }
    }
  }
}
