//

.c-topBanner {
  background-color: #f8f9fa;
  position: relative;
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-content {
    position: relative;
    z-index: 2;
    @include breakpoint(max-xl) {
      padding-bottom: 0;
    }

    h1 {
      font-size: 3rem;
      font-weight: 600;
      line-height: 3.2rem;
      margin-bottom: 24px;

      @include breakpoint(max-xxl) {
        font-size: 3rem;
      }

      @include breakpoint(max-xl) {
        font-size: 2rem;
        line-height: 2.8rem;
      }
    }
  }

  &::after {
    background-color: #ecedf2;
    position: absolute;
    height: calc(100% - 120px);
    width: 80%;
    top: 60px;
    left: 0;
    content: "";
    z-index: 0;
    @include rounded-corners(0 60px 60px 0);
  }
}

.bannerImage {
  position: relative;
  z-index: 2;
  height: 100%;
  min-height: 400px;
  min-width: 400px;
  img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
    right: -20px;
  }

  .content-1,
  .content-2 {
    position: absolute;
    top: 40px;
    left: -40px;
    width: 200px;
    z-index: 2;
  }
  .content-2 {
    top: auto;
    bottom: 40px;
    left: auto;
    right: -40px;
  }
}

@media (max-width: 920px) {
  .c-topBanner {
    .hero-content {
      h1,
      .C-heading {
        text-align: center;
      }
    }
    &::after {
      height: 100%;
      width: 100%;
      top: 0;
      @include rounded-corners(0);
    }
  }
}
