//

.c-bannerCards {
  margin-top: -130px;
  position: relative;
  z-index: 11;

  .slick-slide > div {
    margin: 0 12px;
  }
  /* Fix the overflow issue by compensating the gap */
  .slick-list {
    margin: 0 -12px;
  }
}
.ant-carousel .slick-dots-bottom {
  bottom: -16px;
  li {
    height: 12px;
    width: 12px;
    &::after {
      background-color: transparent !important;
    }
    button {
      background-color: $primary-color;
      height: 12px;
      width: 12px;
      @include rounded-corners(100px);
      &::after {
        display: none !important;
      }
    }
    &.slick-active {
      width: 12px !important;
      button {
        background-color: $secondary-color !important;
        opacity: 1;
      }
    }
  }
}
