.c-ourProcess {
  position: relative;

  .process-items-card {
    position: relative;

    .arrow {
      border: 6px solid #f4f4f4;
      display: grid;
      place-items: center;
      position: absolute;
      top: calc(50% - 27px);
      right: -27px;
      height: 54px;
      width: 54px;
      z-index: 2;
      .g-icon {
        color: $primary-color;
        font-size: 2rem;
      }
    }
  }
}
