.nestedAccordianTabs {
  margin-bottom: 42px;
  .g-icon {
    font-size: 2rem !important;
  }
  .ant-collapse {
    background-color: transparent;
    &.active {
      .ant-collapse-header {
        background-color: $primary-color;
        border-right-color: transparent;
        color: $white;
        .C-heading {
          color: $white !important;
        }
      }
    }
    .ant-collapse-content-box {
      padding: 0 !important;
    }
  }
  .ant-collapse-item {
    .ant-collapse-header {
      align-items: center;
      background-color: transparent;
      border-bottom: 1px solid $border-color;
      padding: 0 !important;
      margin: 0 !important;
      white-space: normal;

      .ant-collapse-header-text,
      .ant-collapse-expand-icon {
        padding: 12px 0 12px 12px;
      }
      .ant-collapse-expand-icon {
        height: 40px;
      }
    }
  }
  .navButton {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $border-color;
    display: block;
    padding: 12px;
    margin: 0 !important;
    text-align: left;
    white-space: normal;
    width: 100%;
    &.active {
      background-color: $primary-color;
      border-right-color: transparent;
      .C-heading {
        color: $white !important;
      }
    }
  }
}

@media (max-width: 920px) {
  .brand-logo {
    padding: 1rem;
    .C-heading {
      font-size: 0.8rem;
      line-height: 1.2rem;
    }
  }
}
