.brand-tabs {
  .ant-tabs-nav {
    width: 260px;
    .ant-tabs-tab {
      border-bottom: 1px solid $border-color;
      padding: 12px;
      display: block;
      text-align: left;
      margin: 0 !important;
      white-space: normal;

      &.ant-tabs-tab-active {
        background-color: $highlightColor;
      }
    }
  }
  .ant-tabs-tabpane {
    padding: 0 !important;
  }
}

.brand-logo {
  border: 1px solid $border-color;
  display: grid;
  place-items: center;
  text-align: center;
  padding: 3rem;
  margin-top: -1px;
  margin-left: -1px;
  gap: 12px;
  .logo {
    height: 40px;
    img {
      width: 100%;
      height: 35px;
    }
  }
}

.marq-brand {
  overflow: hidden; /* hide overflow so only sliding area shows */
  white-space: nowrap;
  width: 100%;
  .slider-box {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    animation: scroll linear infinite;

    &-item {
      background: $highlightColor;
      border: 1px solid transparent;
      flex: 0 0 auto;
      display: grid;
      place-items: center;
      height: 160px;
      line-height: 180px;
      margin: 5px;
      width: 300px;
      @include rounded-corners(10px);
      @include transition(all ease 0.3s);
      &:hover {
        background-color: $white;
        border: 1px solid $border-color;
      }
      img {
        vertical-align: middle;
        opacity: 0.5;
      }
    }
  }
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Mobile-friendly sizing */
@media (max-width: 768px) {
  .marq-brand .slider-box-item {
    min-width: 140px;
    height: 90px;
    font-size: 1rem;
  }
}
