//

.c-contactUs {
  position: relative;

  .shape-1 {
    position: absolute;
    bottom: 0;
    right: -5%;
    opacity: 8%;
    z-index: -1;
  }

  .shape-2 {
    position: absolute;
    top: 0;
    left: -8%;
    opacity: 8%;
    z-index: -1;
    rotate: 250deg;
  }

  .contact-us-content {
    .infu-box {
      padding-bottom: 30px;

      @include breakpoint(max-md) {
        flex-direction: column;
        text-align: center;
      }

      .icon {
        @include clip;
        background-image: linear-gradient(
          84deg,
          $primary-color 0%,
          $secondary-color 100%
        );
        font-size: 21px;
      }
    }
  }

  .contact-right {
    position: relative;
    background-color: $white;
    border-radius: 12px;
    padding: 50px;
    box-shadow: 7px 11px 50px 52px rgba(2, 8, 66, 0.03);
    margin-left: -5px;

    @include breakpoint(max-lg) {
      padding: 50px 20px;
    }

    &::after {
      @include after;
      background-color: $secondary-color;
      right: -5px;
      left: auto;
      z-index: -1;
      border-radius: 12px;
    }

    .form-clt {
      position: relative;

      .icon {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 35px;
        height: 35px;
        line-height: 32px;
        border-radius: 50%;
        background-color: $white;
        box-shadow: 0px 10px 20px 0px rgba(34, 34, 34, 0.08);
        text-align: center;

        @include breakpoint(max-sm) {
          top: 15px;
        }
      }

      input {
        width: 100%;
        outline: none;
        border: none;
        padding: 10px 22px;
        color: $fontColor;
        background-color: rgb(245, 245, 245);
        font-weight: 500;
        border-radius: 4px;

        @include breakpoint(max-lg) {
          font-size: 15px;
        }

        @include breakpoint(max-sm) {
          font-size: 14px;
          padding: 15px 20px;
        }
      }
    }

    .form-clt-big {
      textarea {
        padding: 10px 22px 105px;
        width: 100%;
        outline: none;
        color: $fontColor;
        background-color: rgb(245, 245, 245);
        font-weight: 500;
        border: none;
        border-radius: 4px;

        @include breakpoint(max-xl) {
          font-size: 15px;
        }
      }
    }
  }
}
