//

.C-card {
  padding: 0;
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 12px;
    li {
      display: block;
      position: relative;
      padding-left: 20px;
      &::before {
        color: $primary-color;
        position: absolute;
        font-family: "MaterialSymbolsRounded";
        content: "\e5ca";
        top: 0;
        left: 0;
        line-height: normal;
        font-size: 1rem;
      }
    }
  }
}

.cardCount {
  place-items: center;
  width: 110px;
  height: 110px;
  display: grid;
  position: relative;
  &:before {
    content: "";
    z-index: 0;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10px;
    right: -30px;
    border-radius: 45% 55% 55% 45% / 55% 45% 55% 45%;
  }
  img {
    filter: brightness(0) invert(1);
  }
}

.openCardRow {
  margin: 42px 0;
  .openCardCol {
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* default border */
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
  & > .openCardCol:nth-child(-n + 3) {
    border-top: none;
  }
}
/* remove left border for first col of each row */
@media (min-width: 1200px) {
  /* xl breakpoint - 3 per row */
  .openCardRow > .openCardCol:nth-child(3n + 1) {
    border-left: none;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  /* md breakpoint - 3 per row */
  .openCardRow > .openCardCol:nth-child(3n + 1) {
    border-left: none;
  }
}

@media (max-width: 767.98px) {
  /* sm - 2 per row */
  .openCardRow > .openCardCol:nth-child(2n + 1) {
    border-left: none;
  }
}
