//>>>>> Breadcrumb Start <<<<<//
.breadcrumb-wrapper {
  background: $highlightColor url("/assets/images/about-us.jpg") fixed bottom
    center no-repeat;
  background-size: cover;
  position: relative;
  padding: 80px 0 0;
  height: 200px;
  overflow: hidden;
  position: relative;
  &::before {
    background: RGBA(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 920px) {
  .breadcrumb-wrapper {
    height: 140px;
    padding: 40px 0;
  }
}
