.c-headerBeta {
  background-color: RGBA(255, 255, 255, 0.9);
  box-sizing: border-box;
  top: 0;
  left: 0;
  position: fixed;
  padding: 12px 0;
  height: 76px;
  width: 100%;
  z-index: 99;
  @include box-shadow(0 0 10px 0 rgba(0, 0, 0, 0.2));

  .headerNav {
    .navLink {
      padding: 10px;
      color: $font-color;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.4px;
      font: 600 0.85rem / 1.1rem $creative-font;
      @include transition(all ease 0.3s);
      @include rounded-corners(4px);
      &:not(.is-clean):hover,
      &:not(.is-clean).active {
        background-color: $primary-color;
        color: $white;
      }

      &.is-clean {
        background-color: transparent;
        border: 0;
        color: $primary-color;
      }
    }
  }
}

.signupPopover {
  min-height: 240px;
  .signupCard {
    background-color: $white;
    position: relative;
    @include transition(all ease 0.3s);
  }
  .profile {
    background-color: $white;
    border: 3px solid $secondary-color;
    display: grid;
    place-items: center;
    margin: 0 auto 12px;
    height: 60px;
    width: 60px;
    .bi,
    .g-icon {
      color: $primary-color;
      font-size: 2rem;
    }
  }
}

.userAccount {
  background-color: #eeeeee;
  border: 0;
}

.authOverlay {
  .ant-dropdown-menu {
    padding: 0 !important;
    .ant-dropdown-menu-item-group-title {
      background-color: #eeeeee;
      color: $white;
    }
    .ant-dropdown-menu-item-group-list {
      margin: 0 !important;
    }
  }
}
